.footer {
  background-color: #fff;
  .site-logo {
    width: 100px;
  }
  ul {
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
      color: #e63129;
    }
  }
  p, span,
  ul a {
    color: #f04f46;
  }
}
