.contact-hero{
    background-image: URL("/public/Images/Heros/mathyas-kurmann-fb7yNPbT0l8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 12rem;
    background-position: right;
    margin-top:5rem;
    padding:2rem 5rem;
    @media only screen and (max-width:420px){
        padding: 1rem;
    }
}