.shop-now{
    background-image: URL("/public/Images/Heros/printed-tshirts.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 20rem;
    background-position: right;
    margin-top:5rem;
    padding:2rem 5rem;
}