.feature-container{
    width: 12.5rem;
    // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.553);
    p{
        color:rgb(230, 49, 41)
    }
}
@media only screen and(min-width:320px) and(max-width:480px) {
    .feature-container{
        width: 100%;
    }
}