.alert{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.286);
    border-radius: 10px;
    position: absolute;
    top:5.5rem;
    left:50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    z-index: 9999;
    margin-top: 1rem;
}


.alert.successful{
    background: #fff;
}
.alert.unsuccessful{
     background: rgb(185, 4, 4);
     border: 1px solid rgb(108, 0, 0);
     color: #fff!important;
}